Here is a coding problem I am trying to solve:

{{{problem}}}

Please restate the entire problem in a concise way. Be careful not to change the meaning of the problem. Be sure to remove any irrelevant story telling details.
