Here is a coding problem:

{{{problem}}}

Please rewrite the entire problem removing any irrelevant details. Be careful not to change the meaning of the problem. Your rewritten problem should be understandable to a person who has never seen the original problem.
