Here is a coding problem:

{{{problem}}}

Please explain 3 different approaches you could use to solve {{partDescription}} the problem. For each approach explain how the solution works and break the small steps involved.
